<div class="navbar-container">
  <mat-nav-list>
    <ng-container *ngFor="let item of navList">
      <ng-container [ngTemplateOutlet]="item.subItems ? expandableItem : oneItem"
                    [ngTemplateOutletContext]="{item:item}">
      </ng-container>
    </ng-container>
  </mat-nav-list>

  <mat-nav-list [ngClass]="bottomNavListToggleClass">
    <ng-container *ngFor="let item of navListBottom">
      <ng-container [ngTemplateOutlet]="item.subItems ? expandableItem : oneItem"
                    [ngTemplateOutletContext]="{item:item}">
      </ng-container>
    </ng-container>
  </mat-nav-list>
</div>

<!-- robots -->
<ng-template #oneItem let-item="item">
  <mat-list-item [routerLink]="item.routerLink" routerLinkActive="navItemClicked"
                 [routerLinkActiveOptions]="{exact: true}">
    <mat-icon svgIcon='{{item.icon.split(".")[0]}}' class="icon"></mat-icon>
    <span class="navItemText">{{item.itemName}}</span>
    <img *ngIf="item.itemName === 'Zarządzaj robotami' && robotsWarning" src="/assets/icons/warning-icon.svg">
    <img *ngIf="item.itemName === 'Zarządzaj robotami' && robotsError" src="/assets/icons/error-icon.svg">
  </mat-list-item>
</ng-template>

<ng-template #expandableItem let-item="item">
  <mat-expansion-panel class="navBar">
    <mat-expansion-panel-header class="navItem">
      <mat-icon svgIcon='{{item.icon.split(".")[0]}}'></mat-icon>
      <span class="navItemText">{{item.itemName}}</span>
    </mat-expansion-panel-header>

    <mat-nav-list>
      <mat-list-item *ngFor="let subItem of item.subItems" [routerLink]="subItem.routerLink"
                     routerLinkActive="navItemClicked" [routerLinkActiveOptions]="{exact: true}">
        <span class="navSubItemText">{{subItem.itemName}}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
</ng-template>
