<div class="ra-container">
    <header>
        <div class="bg-img"></div>
        <div class="bg-text">
            <div class="company-logo">
            </div>
            <h1>System zarządzania robotami magazynowymi</h1>
            <img src="/assets/login-img/zalando-logo.svg" alt="Zalando-logo" class="zalando-logo">
            <img src="/assets/login-img/HetBot-logo.svg" alt="HetBot-logo" class="hetbot-logo">
        </div>
    </header>

    <div class="login-wrapper">
        <ra-auth-form></ra-auth-form>
    </div>
</div>
